* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: #f4f6f8;
}

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 300px;
  background: #0f172a;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.avatar {
  width: 45px;
  height: 45px;
  background: #38bdf8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.section-title {
  margin-bottom: 10px;
  color: #94a3b8;
}

.user-list {
  list-style: none;
  flex: 1;
  overflow-y: auto;
}

.user {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.user:hover {
  background: #1e293b;
}

.user.active {
  background: #2563eb;
}

.logout-btn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #ef4444;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

/* Chat Area */
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;

}

.chat-header {
  padding: 15px;
  border-bottom: 1px solid #e5e7eb;
  font-weight: 600;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #f9fafb;
}

.message {
  max-width: 60%;
  margin-bottom: 12px;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
}

.message.sent {
  background: #2563eb;
  color: #fff;
  margin-left: auto;
}

.message.received {
  background: #e5e7eb;
}

/* Input */
.chat-input {
  display: flex;
  padding: 15px;
  border-top: 1px solid #e5e7eb;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 16px;
  border: none;
  background: #2563eb;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.user-list>li>button {
  margin-top: 8px;
  padding: 6px 10px;
  border: none;
  background: #10b981;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.user-list>li>span {
  font-weight: 600;
}
.user-list>li>img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}


.chat-menu {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.chat-menu-btn {
  padding: 6px 14px;
  border: none;
  border-radius: 20px;
  background: #e5e7eb;
  color: #111827;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}

.chat-menu-btn:hover {
  background: #d1d5db;
}

.chat-menu-btn.active {
  background: #2563eb;
  color: #ffffff;
}